version: "3.9"
services:
  coraza:
    build:
      context: .
      target: coreruleset
    volumes:
      - ./docker/e2e/e2e-rules.conf:/etc/coraza-spoa/rules/000-e2e-rules.conf
  haproxy:
    depends_on:
      - coraza
      - httpbin
    image: ${HAPROXY_IMAGE:-haproxy:2.7-alpine}
    command:
      [
        "sh",
        "-c",
        "haproxy -f /usr/local/etc/haproxy/haproxy.cfg | tee /var/lib/haproxy/hap.log"
      ]
    ports: [ "4000:80" ]
    links:
      - "coraza:coraza"
    volumes:
      - type: bind
        source: ./docker/haproxy
        target: /usr/local/etc/haproxy
      - hap:/var/lib/haproxy
  tests:
    depends_on:
      - haproxy
      - coraza
    links:
      - "haproxy:haproxy"
      - "httpbin:httpbin"
    build:
      context: docker/e2e
      dockerfile: ./Dockerfile.curl
    volumes:
      - hap:/haproxy
volumes:
  hap:
