# https://www.haproxy.com/documentation/hapee/latest/onepage/#home
global
    log stdout format raw local0

defaults
    log global
    option httplog
    timeout client 1m
	  timeout server 1m
	  timeout connect 10s
	  timeout http-keep-alive 2m
	  timeout queue 15s
	  timeout tunnel 4h  # for websocket

frontend stats
    mode http
    bind :4001
    stats enable
    stats uri /
    stats refresh 10s
    stats show-modules

frontend sample_app
    mode http
    bind *:80
    bind *:443 ssl crt /usr/local/etc/haproxy/example.com.pem alpn h2,http/1.1
    unique-id-format %[uuid()]
    unique-id-header X-Unique-ID
    log-format "%ci:%cp\ [%t]\ %ft\ %b/%s\ %Th/%Ti/%TR/%Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r\ %ID\ spoa-error:\ %[var(txn.coraza.error)]\ waf-hit:\ %[var(txn.coraza.fail)]"

    filter spoe engine coraza config /usr/local/etc/haproxy/coraza.cfg

    # Deprecated, use action instead of fail
    #http-request deny deny_status 401 hdr waf-block "request" if { var(txn.coraza.fail) -m int eq 1 }
    #http-response deny deny_status 401 hdr waf-block "response" if { var(txn.coraza.fail) -m int eq 1 }

    http-request redirect code 302 location %[var(txn.coraza.data)] if { var(txn.coraza.action) -m str redirect }
    http-request redirect code 302 location %[var(txn.coraza.data)] if { var(txn.coraza.action) -m str redirect }

    http-request deny deny_status 401 hdr waf-block "request"  if { var(txn.coraza.action) -m str deny }
    http-request deny deny_status 401 hdr waf-block "response" if { var(txn.coraza.action) -m str deny }

    http-request silent-drop if { var(txn.coraza.action) -m str drop }
    http-request silent-drop if { var(txn.coraza.action) -m str drop }

    # Deny in case of an error, when processing with the Coraza SPOA
    http-request deny deny_status 504 if { var(txn.coraza.error) -m int gt 0 }
    http-response deny deny_status 504 if { var(txn.coraza.error) -m int gt 0 }
    use_backend test_backend

backend test_backend
    mode http
    server s1 mockserv:3000

backend coraza-spoa
    mode tcp
    server s1 coraza:9000
