---

name: FTW Test

on:
  pull_request:
  push:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - haproxy-version: '2.8'
            os: 'ubuntu-22.04'
          - haproxy-version: '3.0'
            os: 'ubuntu-24.04'
          - haproxy-version: '3.2'
            os: 'ubuntu-24.04'

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'

      - name: Run regression tests (ftw)
        run: go run mage.go ftw
        env:
          FTW_HAPROXY_VERSION: "${{ matrix.haproxy-version }}"

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: success() || failure()
        with:
          name: "ftw-haproxy-spoa-logs-${{ matrix.haproxy-version }}"
          path: |
            build/ftw.log
            build/ftw-spoa.log
            build/ftw-haproxy.log
