---
name: Test

on:
  pull_request:
  push:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - haproxy-version: '2.8'
            os: 'ubuntu-22.04'
          - haproxy-version: '3.0'
            os: 'ubuntu-24.04'
          - haproxy-version: '3.2'
            os: 'ubuntu-24.04'

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: 'go.mod'

      - name: setup environment
        run: |
          sudo apt-get install -y software-properties-common
          sudo add-apt-repository -y ppa:vbernat/haproxy-${{ matrix.haproxy-version }}
          sudo apt-get update
          sudo apt-get install -y haproxy
          haproxy -vv

      - name: Test
        run: go run mage.go test
