---
name: Test

on:
  pull_request:
  push:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - haproxy-version: '2.8'
            os: 'ubuntu-22.04'
          - haproxy-version: '3.0'
            os: 'ubuntu-24.04'
          - haproxy-version: '3.2'
            os: 'ubuntu-24.04'

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'

      - name: setup environment
        run: |
          sudo apt-get install -y software-properties-common
          sudo add-apt-repository -y ppa:vbernat/haproxy-${{ matrix.haproxy-version }}
          sudo apt-get update
          sudo apt-get install -y haproxy
          haproxy -vv

      - name: Test
        run: go run mage.go test
